li {
    list-style-type: none;
}
.postDiv{
    border: 1px solid black;
    background-color: lightblue;
    padding: 10px;
}
.mainDivForComments{
    display: flex;
    flex-wrap:wrap;
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
    background-color: lightblue;
}
.commentDiv{
    border-left: 1px solid black;
    padding: 15px;
    width: 17%;
}
h3{
    text-align: center;
}
.email{
    margin: 5px 0 5px 0;
}
